<html>
    <form action="create" method="post">
        <input class="contactus" placeholder="ID del usuario" type="number" name="Cid_usuario">
        <input class="contactus" placeholder="ID del producto" type="number" name="Cid_producto">
        <input class="contactus" placeholder="Fecha de la compra" type="date" name="Cfecha_Pedido">
        <input class="contactus" placeholder="Dirección de entrega" type="type" name="Cdireccion_entrega">
        <input class="contactus" placeholder="Ciudad de entrega" type="type" name="Cciudad_entrega">
        <input class="contactus" placeholder="País de entrega" type="type" name="Cpais_entrga">
        <button type=submit class="sub_btn">Crear venta</button>
    </form>
</html>