<html>
    <form action="create" method="post">
        <input class="contactus" placeholder="Nombre completo" type="type" name="CnombreU">
        <input class="contactus" placeholder="Correo electronico" type="email" name="CemailU">
        <input class="contactus" placeholder="Contraseña" type="password" name="CcontraseñaU">
        <input class="contactus" placeholder="Dirección" type="type" name="CdireccionU">
        <input class="contactus" placeholder="Ciudad" type="type" name="CciudadU">
        <input class="contactus" placeholder="País" type="type" name="CpaisU">
        <button type=submit class="sub_btn">Crear usuario</button>
    </form>
</html>