<html>
    <form action="create" method="post">
        <input class="contactus" placeholder="Nombre del producto" type="type" name="Cnombrep">
        <input class="contactus" placeholder="Precio del producto" type="number" name="Cpreciop">
        <input class="contactus" placeholder="Descripción del producto" type="type" name="Cdescripcionp">
        <button type=submit class="sub_btn">Crear producto</button>
    </form>
</html>